* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

body, html {
  height: 100%;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}



h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

.top-container {
      background-color: #f1f1f1;
      padding: 30px;
      text-align: center;
              }

.header {
      z-index: 5;
      padding: 10px 16px;
      background: #555;
      color: #ffffff;
        }

.content {
      padding: 16px;
          }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}







.logo {

  width: auto;
  height: 80px
}

.logo2 {
  height: 30px;
  width: %;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}






.dropbtn {
    background-color: rgb(74, 74, 74);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 100%;
}

.dropdown {
    display: inline-block;
    width: 80%;
    position: absolute;
    padding-top: 16px;
    z-index: 5;

}

.dropdown1 {
    display: inline-block;
    width: 100%;
}

.dropdown-content {
    display: none;
    background-color: rgb(74, 74, 74);
    min-width: 160px;
    z-index: 1;
    width: 100%;
}

.dropdown-content1 {
    display: none;
    background-color: rgb(224, 224, 224);
    min-width: 160px;
    z-index: 1;
    width: 100%;rgb(45, 45, 45)
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    width: 25%;
}

.dropdown-content1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: rgb(74, 74, 74);}

.dropdown-content1 a:hover {background-color: #ddd;}

.dropdown1:hover .dropbtn {background-color: rgb(110, 107, 107);}

.active, .dropbtn:hover {
    background-color: #ccc;
  }

  .link {
    transform: translate(-50%);
    margin-left: 50%;
    text-align: center;
  }


  .icon-bar {
    position: fixed;
    top: 92%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }

  .icon-bar a:hover {
      background-color: #000;
  }

  .facebook {
    background: #04215e;
    color: white;
  }

  .twitter {
    background: #062410;
    color: white;
  }

  .youtube {
    background: #8f0101;
    color: white;
  }

  .content {
    margin-left: 75px;
    font-size: 30px;
  }




  /* Set a style for all buttons */

    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    /* Set a style for all buttons */
    .button1 {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 10%;
        transform: translate(850%, -80%);
    }

    .button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }

    .button:hover {
        opacity: 0.8;
    }

    /* Extra styles for the cancel button */
    .cancelbtn {
        width: auto;
        padding: 10px 18px;
        background-color: #f44336;
    }

    /* Center the image and position the close button */
    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
        position: relative;
    }

    img.avatar {
        width: 40%;
        border-radius: 50%;
    }

    .container {
        padding: 16px;
    }

    span.psw {
        float: right;
        padding-top: 16px;
    }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        padding-top: 60px;
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button (x) */
    .close {
        position: absolute;
        right: 25px;
        top: 0;
        color: #000;
        font-size: 35px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }

    /* Add Zoom Animation */
    .animate {
        -webkit-animation: animatezoom 0.6s;
        animation: animatezoom 0.6s
    }

    @-webkit-keyframes animatezoom {
        from {-webkit-transform: scale(0)}
        to {-webkit-transform: scale(1)}
    }

    @keyframes animatezoom {
        from {transform: scale(0)}
        to {transform: scale(1)}
    }

    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
        span.psw {
           display: block;
           float: none;
        }
        .cancelbtn {
           width: 100%;

        }
    }
