* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
  height: 100%;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}



h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

.top-container {
      background-color: #f1f1f1;
      padding: 30px;
      text-align: center;
              }

.header {
      z-index: 5;
      padding: 10px 16px;
      background: #555;
      color: #ffffff;
        }

.content {
      padding: 16px;
          }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}







.logo {
  height: 80px;
  width: %;
}

.logo2 {
  height: 30px;
  width: %;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}






.dropbtn {
    background-color: rgb(74, 74, 74);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 100%;
}

.dropdown {
    display: inline-block;
    width: 80%;
    position: absolute;
    padding-top: 15px;
    z-index: 5;

}

.dropdown1 {
    display: inline-block;
    width: 100%;
}

.dropdown-content {
    display: none;
    background-color: rgb(74, 74, 74);
    min-width: 160px;
    z-index: 1;
    width: 100%;
}

.dropdown-content1 {
    display: none;
    background-color: rgb(224, 224, 224);
    min-width: 160px;
    z-index: 1;
    width: 100%;rgb(45, 45, 45)
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    width: 25%;
}

.dropdown-content1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: rgb(74, 74, 74);}

.dropdown-content1 a:hover {background-color: #ddd;}

.dropdown1:hover .dropbtn {background-color: rgb(110, 107, 107);}

.active, .dropbtn:hover {
    background-color: #ccc;
  }

  .link {
    transform: translate(-50%);
    margin-left: 50%;
    text-align: center;
  }


  .icon-bar {
    position: fixed;
    top: 92%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }

  .icon-bar a:hover {
      background-color: #000;
  }

  .facebook {
    background: #04215e;
    color: white;
  }

  .twitter {
    background: #062410;
    color: white;
  }

  .youtube {
    background: #8f0101;
    color: white;
  }

  .content {
    margin-left: 75px;
    font-size: 30px;
  }
